#alias la='ls -Alh --group-directories-first --color=auto --'
#alias ls='ls -l --group-directories-first --color=auto --'
alias ls='ls --group-directories-first --color=auto --'
alias upgrade="yaourt -Syau --noconfirm"

alias see='yaourt -s'
alias get='sudo pacman -S'
alias web='w3m google.com'

alias pyget='pip3 install --user'

alias reload='source ~/.bashrc && source ~/.aliases && sil i3-msg reload'
alias please='sudo $(history -p !!)'

alias gs='git status'
alias gp='git push'
alias ga='git add .'
alias gc='git add -u && git commit'
alias gall='gs && gc && gp'
alias gu='git pull'
alias gco='git checkout'
function gb () {
    git checkout -b $1
    git push -u origin $1
}
alias gg='git log --oneline --abbrev-commit --all --graph --decorate --color'

function md () {
    mkdir $1 && cd $1
}

function sil () {
    "$@" &>/dev/null & disown &>/dev/null
}

gitmake () {
  curl -u $1 https://api.github.com/user/repos -d "{\"name\": \"$2\", \"description\": \"$3\"}"
  #git://github.com/LSaldyt/trader.git
  mkdir $2
  cd $2 
  git init
  git remote add origin "https://github.com/$1/$2"
  wget https://github.com/LSaldyt/scour/blob/master/LICENSE
  touch README.md
  echo $2 >> README.md
  git add README.md LICENSE
  git commit -m "Initial Commit"
  git push -u origin master
  git checkout -b develop
  git push -u origin develop
}

#Usage: gmake repoName "Description if any"
alias gmake='gitmake LSaldyt'

mlab () {
    cat $1 | matlab -nodisplay -nosplash -nodesktop
    #matlab -nodisplay -nosplash -nodesktop -r "run($1);exit;"
}

alias '...'='../..'
