#alias la='ls -Alh --group-directories-first --color=auto --'
#alias ls='ls -l --group-directories-first --color=auto --'
alias ls='ls --group-directories-first --color=auto --'
alias upgrade="yaourt -Syau --noconfirm"

alias see='yaourt -s'
alias get='sudo pacman -S'
alias web='w3m google.com'

alias pyget='pip3 install --user'

alias reload='source ~/.bashrc && sil i3-msg reload'
alias please='sudo $(history -p !!)'

alias gp='git push'
alias ga='git add .'
alias gs='git add -u && git commit'
alias gsp='gs && git push'
alias gu='git pull'
alias gc='git checkout'
alias gb='gc -b'
alias gg='git log --oneline --abbrev-commit --all --graph --decorate --color'


function sil () {
    "$@" &>/dev/null & disown &>/dev/null
}
